#logotipo {
    position: absolute;
    left: 50px;
}





body{
    background-image: url(../res/img/back.png);
}

/*navbar*/
.navbar {
    background-color: #212529 !important;
}

.p-2{
    background-color: #212529 !important;
}

#tableSalas {
    background-color: #212529 !important;
}

.navbar-nav {
    position: relative;
    bottom: -8px;
}

.active{
    height: auto;
    border-bottom: 4px solid blue;
    font-weight: bold;
}