div.espacio {
    margin-top: 20px;
    padding-right: 10px;
}

.autor_card{
    background: RGB(194,197,204,0.25);
    transition: 2s linear 0.07s;
}

.autor_card:hover{
    background: RGB(194,197,204,0.35);
    border-bottom: 1px solid blue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform: scale(1.09, 1.09);
    font-size: 100%;
}

body{
    background-image: url(../res/img/back.png);
}