div.espacio {
    margin-top: 20px;
    padding-right: 10px;
}

#autor_card{
    background: RGB(194,197,204,0.25);
}

#autor_card:hover{
    background: RGB(194,197,204,0.40);
    border-bottom: 1px solid black;
    border-inline-end-color: lightcoral;
}