<div class="container mt-2">
	<div class="row">
		<div class="col">
			<div class="card-deck">
				<div class="card espacio autor_card" id="card1" style="width:400px">
					<img class="car-img-avatar mx-auto" src="../res/img/muslimman_90813.png" alt="Card image" style="width:50%">
					<div class="card-body">
						<h4 class="card-title">Gabriel Revilla</h4>
						<p class="card-text">Además de cursar 2ºDAM en Ies Villaverde, también trabaja para
							QuironSalud SA.</p>
						<!-- <a href="#" class="btn btn-primary">See Profile</a> -->
					</div>
				</div>

				<div class="card espacio autor_card" id="card2" style="width:400px">
					<img class="card-img-avatar mx-auto" src="../res/img/muslimman_90813.png" alt="Card image" style="width:50%">
					<div class="card-body">
						<h4 class="card-title">Jorge González</h4>
						<p class="card-text">Alumno de IES Villaverde 2019/2020. Le gusta python y javascript. También le
							gustaría
							aprender Desarrollo para dispositovos iOS algun día.</p>
						<!-- Mirar para borrar o si se le puede dar un uso <a href="#" class="btn btn-primary">See Profile</a> -->
					</div>
				</div>

				<div class="card espacio autor_card" id="card3" style="width:400px">
					<img class="card-img-avatar mx-auto" src="../res/img/muslimman_90813.png" alt="Card image" style="width:50%">
					<div class="card-body">
						<h4 class="card-title">Maxim Macari</h4>
						<p class="card-text">Aunque mayor, pero con menos experiencia. Este último integrante del grupo
							lucha
							sin temor por el aprobado en IES Villaverde.</p>
						<!-- a href="#" class="btn btn-primary">See Profile</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>