<div class="container mt-2">
  <div class="row px-2">
    <div class="col-md-12 p-2">
      <div class="p-2 shadow h-100">
        <div id="contSalas">
          <div class="container-fluid bg-dark rounded p-2 mb-2">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-primary" onclick="main.crearSalaManual()">Crear sala</button>
                <button type="button" class="btn btn-primary ml-2" onclick="main.listarSalas()">Actualizar salas</button>
              </div>
            </div>
          </div>
          <div class="cont-tabla">
            <table id="tableSalas" class="table table-dark table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Nombre sala</th>
                  <th class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody>
    
              </tbody>
            </table>
          </div>
        </div>
    
        <div id="contJuego" style="display: none">
          <div class="container-fluid mb-2">
            <div class="row">
              <div class="col text-center jugador-display mx-2">Jugador 1</div>
              <div class="col text-center jugador-display mx-2">Jugador 2</div>
            </div>
          </div> 
    
          <table id="tablero">
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" id="modalLogin">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Iniciar sesión</h4>
      </div>
      <div class="modal-body">
        <form id="formLogin">
          <div class="form-group">
            <label for="username">Usuario</label>
            <input type="text" class="form-control" name="username" placeholder="Nombre de usuario">
          </div>
          <div class="form-group">
            <label for="password">Introduce tu contraseña:</label>
            <input type="password" class="form-control" name="password" placeholder="Contraseña">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="main.logIn()">Entrar</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalLogin">Cancelar</button>
      </div>
    </div>
  </div>
</div>