<div class="container-fluid mt-2">
  <div class="row px-2">
    <div class="col-md-12 p-2">
      <div class="p-2 shadow h-100">
        <div id="contJuego" style="display: none">
          <div class="container-fluid mb-2">
            <div class="row">
              <div class="col text-center jugador-display mx-2">Jugador 1</div>
              <div class="col text-center jugador-display mx-2">Jugador 2</div>
            </div>
          </div>
          <table id="tablero">
          </table>
        </div>
      </div>
    </div>
  </div>
</div>