<div class="container mt-2">
  <div class="row px-2">
    <div class="col-md-12 p-2">
      <div class="p-2 shadow h-100">
        <div id="contSalas">
          <div class="container-fluid bg-dark rounded p-2 mb-2">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-primary" onclick="main.crearSalaManual()">Crear sala</button>
                <button type="button" class="btn btn-primary ml-2" onclick="main.listarSalas()">Actualizar salas</button>
              </div>
            </div>
          </div>
          <div class="cont-tabla">
            <table id="tableSalas" class="table table-dark table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Nombre sala</th>
                  <th class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody>
    
              </tbody>
            </table>
          </div>
        </div>
    
        <div id="contJuego" style="display: none">
          <div class="container-fluid mb-2">
            <div class="row">
              <div class="col text-center jugador-display mx-2">Jugador 1</div>
              <div class="col text-center jugador-display mx-2">Jugador 2</div>
            </div>
          </div> 
    
          <table id="tablero">
          </table>
        </div>
      </div>
    </div>
  </div>
</div>