<div class="container-fluid mt-2">
  <div class="row px-2">
    <div class="col-md-12 p-2">
      <div class="p-2 shadow h-100">
        <div id="contJuegoLocal">
          <div class="container-fluid mb-2">
            <div class="row">
              <div class="col text-center jugador-display mx-2 turno-local-1">Jugador 1</div>
              <div class="col text-center jugador-display mx-2 turno-local-2">Jugador 2</div>
            </div>
          </div>
          <table class="tablero" id="tableroLocal">
          </table>
        </div>
      </div>
    </div>
  </div>
  <button>
    <a href="javascript:location.reload(true)">Jugar de nuevo</a>
  </button>
</div>