<div class="contenedor-referencias">
	<div class="lenguajes col shadow">
		<h3>Lenguajes de programación y Lenguaje de marcas.</h3>
		<p>Referencias, listado de recursos y referencias utilizados para el
			desarrollo.</p>
		<ul>
			<li>
				<h6><b>HTML</b></h6>
				<p>Todo el código de la página se sostiene sobre HTML, que define la estructura de la misma.
					La integridad de la página web es un HTML, y cada pestaña ("Juego", "Descripción del Juego",
					"Autores", "Referencias")
					son plantillas simple escritas en HTML de extensión '.hbs'. Los ficheros .hbs fueron creados por <a
						href="https://handlebarsjs.com/">handlebars</a> que es una librería de javaScript que ayuda a
					crear plantillas con datos enlazados, código limpio y más eficiente.
				</p>
			</li>
			<li>
				<h6><b>CSS</b></h6>
				<p>Mediate css conseguimos establecer el diseño visual de la web e interfaces del usuario. Gracias a
					'css' podemos crear una página visualmente más atractiva.
					En nuestro caso, hemos usado una sóla hoja de estilos externa, donde referenciamos el diseño de cada
					apartado.
				</p>
			</li>
			<li>
				<h6><b>Javascript</b></h6>
				<p>Con JavaScript obtenemos una página web dinámica. La mayor parte del código JavaScript lo hemos
					utulizado en la creación del juego.</p>
			</li>
			<li>
				<h6><b>SQLite</b></h6>
				<p>Es un sistema de Base de datos relacional local. Con el podemos almacenar los usuarios registrados.
				</p>
			</li>
			<li>
				<h6><b>Tecnologia NodeJS</b></h6>
				<p>Es un entorno JavaScript de lado de servidor que utiliza el modelo asíncrono y dirigido por eventos.
					Node es especialmente bueno para aplicaciones realtime, que necesitan mantener una conexión
					persistente entre el browser y le servidor.</p>
			</li>
			<li>
				<h6><b>Frameworks</b></h6>
				<ul>
					<li><b>Boostrap</b>
						<p>Esto es un framework CSS de código abierto, básicamente fácilita la maquetación de la páginas
							web, ya que te permite crear una interfaz limpia y responsive. </p>
					</li>

					<li><b>EmberJS</b>
						<p>Este framework nos ha sido util para servir los templates de la página.</p>
					</li>
				</ul>
			</li>
			<li>
				<h6><b>Librerías</b></h6>
				<ul>
					<li>
						<b>ExpressJS</b>
						<p>Con el hemos creado una API rest y el servidor.</p>
					</li>
					<li>
						<b>handlebars</b>
						<p>Es una extensión de 'Mustache templating language' cuyo propósito es mantener la vista y el
							código separados, como siempre deberían estar...</p>
					</li>
				</ul>
			</li>
		</ul>
	
	<div class="multimedia">
		<h3>Elementos multimedia.</h3>
		<ul>
			<li>
				<h6>Imágenes y logos</h6>
				<p></p>
			</li>
			<li>
				<h6>Música y sonido</h6>
				<p>Especial agradecimiento a <a href="https://freesound.org">freesound.org</a> por los sonidos.</p>
			</li>
		</ul>
	</div>
	</div>
</div>