<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grupo3_Practica1</title>
    <link rel="stylesheet" href="../css/style_autores.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark justify-content-center">
        <div id="logotipo">
            <img src="../res/img/icono_logo.png" alt="Logotipo." width="50px" height="40px" />
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Juego</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="descripcion_juego.html">Descripción del Juego</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="autores.html">Autores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="referencias.html">Referencias</a>
            </li>
        </ul>
    </nav>
    <!--     <div class="col-md-12">
        <br/>
        Quitar este div y en su lugar poner un id al div container y darle un relleno -->

    <div class="container">
        <div class="card-deck prueba">
            <div class="card espacio" id="autor_card" style="width:400px">
                <img class="card-img-top" src="../res/img/muslimman_90813.png" alt="Card image" style="width:50%">
                <div class="card-body">
                    <h4 class="card-title">Gabriel Revilla</h4>
                    <p class="card-text">Además de cursar 2ºDAM en Ies Villaverde, también trabaja para
					QuironSalud SA.</p>
                    <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
                </div>
            </div>


            <div class="card espacio" id="autor_card" style="width:400px">
                <img class="card-img-top" src="../res/img/muslimman_90813.png" alt="Card image" style="width:50%">
                <div class="card-body">
                    <h4 class="card-title">Jorge González</h4>
                    <p class="card-text">Alumno de IES Villaverde 2019/2020. Le gusta python y javascript. También le gustaría 
					aprender Desarrollo para dispositovos iOS algun día.</p>
                    <!-- Mirar para borrar o si se le puede dar un uso <a href="#" class="btn btn-primary">See Profile</a> -->
                </div>
            </div>
            <br />

            <div class="card espacio" id="autor_card" style="width:400px">
                <img class="card-img-top" src="../res/img/muslimman_90813.png" alt="Card image" style="width:50%">
                <div class="card-body">
                    <h4 class="card-title">Maxim Macari</h4>
                    <p class="card-text">Aunque mayor, pero con menos experiencia. Este último integrante del grupo lucha 
						sin temor por el aprobado en IES Villaverde.</p>
                    <!-- a href="#" class="btn btn-primary">See Profile</a> -->
                </div>
            </div>
            <br>
        </div>
    </div>
</body>

</html>