<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="js/tools.js"></script>
  <script src="js/inicializador.js"></script>
  <script src="js/juego.js"></script>
  <script src="js/main.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-secondary navbar-dark justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="">Juego</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="descripcion_juego.html">Descripción del Juego</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="autores.html">Autores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="referencias.html">Referencias</a>
      </li>
    </ul>
  </nav>
  <main class="container-fluid">
    <div class="row">
      <div class="col-2 pt-2" id="espacioUsuario">
        <form id="formLogin">
          <h4 class="text-center">Iniciar sesión</h4>
          <div class="form-group">
            <label for="username">Usuario</label>
            <input type="text" class="form-control" name="username" placeholder="Nombre de usuario">
          </div>
          <div class="form-group">
            <label for="password">Introduce tu contraseña:</label>
            <input type="password" class="form-control" name="password" placeholder="Contraseña">
          </div>
          <input type="button" value="Enviar" onclick="main.logIn()" class="btn btn-primary btn-block" />
        </form>
      </div>
      <div id="contenido" class="col-8 p-3" style="background-color:orange;">
        <div id="contSalas">
          <table id="tableSalas">
            
          </table>
        </div>
        <div id="contJuego">
          <table id="tablero">
          
          </table>
        </div>
      </div>
      <div id="usuariosList" class="col-2 p-0">
        <ul>

        </ul>
      </div>
    </div>
  </main>

  <div class="modal fade" role="dialog" id="modalTemplate">
    
  </div>
</body>

</html>