<html>

<head>
    <title>Referencias</title>
    <link rel="stylesheet" type="text/css" href="../css/referencias.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark justify-content-center">
        <div id="logotipo">
            <img src="../res/img/icono_logo.png" alt="Logotipo." width="50px" height="40px" />
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Juego</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="descripcion_juego.html">Descripción del Juego</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="autores.html">Autores</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link " href="referencias.html">Referencias</a>
            </li>
        </ul>
    </nav>
    <div id="contenedor">
        <h3>Lenguajes de programación.</h3>
        <p>Lorem Ipsum...</p>
        <h3>Elementos multimedia.</h3>
        <p>Lorem Ipsum...</p>

    </div>
</body>


</html>