.tablero table{
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    table-layout: fixed;
}

tr td {
    text-align: center;
    border: 1px solid black;
    font-size: 90px;
    position: relative;
    width: 33%;
    height: 33%;
}

.casilla:hover{
    background-color: grey;
}

.ganador {
    color: red;
    background-color: grey;
}
