body{
    background-image: url(../res/img/back.png);
}

.navbar > .logo{
  position: absolute;
  left: 5px;
}

/*Juego*/

#tableSalas {
  background-color: #212529 !important;
}

.cont-tabla{
  background-color: #a4a4a4;
  min-height: 400px;
  overflow-y: auto;
}

.tablero{
  background-color: #14bdac;
  margin: 0 auto;
  border-radius: 7px;
}

.tablero td{
  padding: 5px;
  border: 1px solid #000;
}

#usuariosList ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.casilla{
  width: 100px;
  height: 100px;
}

.casilla-cruz{
  stroke: rgb(84, 84, 84); 
  stroke-dasharray: 135.764; 
  stroke-dashoffset: 0;
  fill: none;
  stroke-width: 16px;
}

.casilla-circulo{
  stroke: rgb(242, 235, 211); 
  stroke-dasharray: 301.635; 
  stroke-dashoffset: 0;
  fill: none;
  stroke-width: 16px;
}

#usuariosList ul > li{
  width: 100%;
  border-bottom: 2px solid black;
  padding: 4px;
}

.jugador-display{
  padding: 2px;
  border: 2px solid #01393d;
  color: white;
  background-color:  #383b3f;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.turno{
  background-color: rgb(5, 95, 95);
}

/*Descripción juego*/

#descripcion {
  border: 1px solid black;
  padding: 20px;
  max-width: 800px;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 50px;
}

#instrucciones {
  margin-top: 10px;
  padding: 20px;
}

#terminos{
  margin-top: 10px;
  padding: 20px;
}

footer {
  max-width: 800px;
  opacity: 0.65;
  padding-top: 20px;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 30px;
}

.figure{
  max-width: auto;
  margin-left: 1em;
}

/*Autores*/

.autor_card{
  background: RGB(194,197,204,0.25);
  margin-top: 20px;
}

.autor_card:hover{
  background: RGB(194,197,204,0.20);
  border-bottom: 1px solid blue;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transform: scale(1.1, 1.1);
  transition: all 0.8s ease-in-out;
}

.container mt-2{
  margin-top: 30px;
}


/*Referencias*/
.contenedor-referencias {
  max-width: 1140px;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 10px;
}



